# IDE
.idea

# environment
.env 

# Node.js
node_modules*
config.json

# Database files
database/*.db
database/*.sqlite
database/*.sqlite3
*.db
*.sqlite
*.sqlite3
#prisma
/prisma/database/*
/prisma/database
/prisma/migrations/*
/prisma/migrations
#docker
.dockerignore
Dockerfile

#temp
./commands/slash.pingcount.js.bak
/generated/prisma
/temp/*



/generated/prisma
